<!DOCTYPE HTML>
<html>
	<head>
		<title>Begin Again - Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper1">

					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="profiles-static.html">Profiles overview</a></li>
                            <li><a href="#" id="create-profile-btn" class="button special fit" onclick="showCreateProfile()">Create a profile</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="login-banner" class="major">
						<div class="login-wrapper">
							<div class="login-header">
								<div>
									<a href="index.html" class="logo">
										<strong class=lp1>Begin</strong>
										 <span class=lp2>Again</span>
									</a>
								</div>
								<div class="space-50"></div>
							</div>
							<form action="/action_page.php">
								<div class="login-inner-container">
								  <label>Email</label>
								  <input type="email" placeholder="Enter Email" name="email" required>
								  <div class="space-20"></div>
								  
								  <label>Password</label>
								  <input type="password" placeholder="Enter Password" name="psw" required>
								  <div class="space-20"></div>
								</div>
							  
								<div class="login-form-footer">
								  <button type="submit" class="login-btn">Login</button>
								  <div class="space-15"></div>
								  <span class="psw" data-toggle="modal" data-target="#forgotPasswordModal">
									Forgot password?
                                                                  </span>
								</div>
							</form>
						</div>
					</section>
			</div>

<!-- Modal -->
  <div class="modal fade" id="forgotPasswordModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Forgot Password</h4>
        </div>
        <form action="/action_page.php">
        <div class="modal-body">
        <div class="space-20"></div>
		<div class="forgot-password-inner-container">
		  <label>Email</label>
		  <input type="email" placeholder="Please enter the Email your registered with" name="email" required="">
		</div>
        </div>
        <div class="space-20"></div>
        <div class="space-20"></div>
        <div class="modal-footer">
          <button type="submit" class="login-btn forgot-password-submit">Submit</button>
          <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
        </div>
      </form>
      </div>
      
    </div>
  </div>
		<!-- Scripts -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/js/main.js"></script>

	</body>
</html>
