<!DOCTYPE HTML>
<html>
	<head>
		<title>Begin Again - Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
		<div id="login-main-wrapper row">
				<div class="login-desc-txt col-md-6">
					<div>
						<p>
						This is a platform designed specifically for individuals associated with services , in some way or the other.
						Who find it difficult to get aquainted  with like minded people as life partners.
					</p>
						<p>
						This is a platform especially for those who have faced loss of their dear ones
						to the motherland and we would be previliged to help you with finding people who
						understand such a sacrifice. Because I believe what you need is a person who understands
						not sympathize with you.</p>
						<p>Considering the above I urge the people who join this site,
						to allow us to verify your association with the services at our level too.
						And also comply with the details requested. Once get assurance that you are a genuine candidate,
						your profile will be uploaded for others to see and get in touch. We will not provide you with a platform
						for personal chat, just a platform for getting in touch with like minded individuals.</p>
						<p>You can request more details from the person who's profile you like and they will provide you with mobile no.
						FB id to get in touch. This is a small endeavor to help our brothers and sisters in services and their families,
						it will work better on your support and integrity.
					</p>
					</div>
				</div>
				<div class="login-wrapper col-md-6">
							<div>
								<div class="login-header">
								<div>
									<a href="index.html" class="logo">
										<strong class=lp1>Begin</strong>
										 <span class=lp2>Again</span>
									</a>
								</div>
								<div class="space-50"></div>
							</div>
								<form action="/action_page.php">
								<div class="login-inner-container">
								  <label>Email</label>
								  <input type="text" placeholder="Enter Email" name="email" required>
								  <div class="space-20"></div>

								  <label>Password</label>
								  <input type="password" placeholder="Enter Password" name="psw" required>
								  <div class="space-20"></div>
								</div>
								<div class="login-form-footer">
								  <button type="submit" class="login-btn">Login</button>
								  <div class="space-15"></div>
								  <span class="psw">Forgot <a href="#">password?</a></span>
                                  <div class="space-20"></div>
                                  <button type="submit" class="register-btn">Register</button>
								</div>
							</form>
							</div>
						</div>
			</div>
			<!--<div id="login-main-wrapper">-->
				<!--<div class="login-desc-txt">-->
					<!--<p>-->
						<!--This is a platform designed specifically for individuals associated with services , in some way or the other.-->
						<!--Who find it difficult to get aquainted  with like minded people as life partners.-->
					<!--</p>-->
					<!--<p>-->
						<!--This is a platform especially for those who have faced loss of their dear ones-->
						<!--to the motherland and we would be previliged to help you with finding people who-->
						<!--understand such a sacrifice. Because I believe what you need is a person who understands-->
						<!--not sympathize with you.</p>-->
					<!--<p>Considering the above I urge the people who join this site,-->
						<!--to allow us to verify your association with the services at our level too.-->
						<!--And also comply with the details requested. Once get assurance that you are a genuine candidate,-->
						<!--your profile will be uploaded for others to see and get in touch. We will not provide you with a platform-->
						<!--for personal chat, just a platform for getting in touch with like minded individuals.</p>-->
					<!--<p>You can request more details from the person who's profile you like and they will provide you with mobile no.-->
						<!--FB id to get in touch. This is a small endeavor to help our brothers and sisters in services and their families,-->
						<!--it will work better on your support and integrity.-->
					<!--</p>-->
				<!--</div>-->
				<!--<div class="login-wrapper">-->
							<!--<div class="login-header">-->
								<!--<div>-->
									<!--<a href="index.html" class="logo">-->
										<!--<strong class=lp1>Begin</strong>-->
										 <!--<span class=lp2>Again</span>-->
									<!--</a>-->
								<!--</div>-->
								<!--<div class="space-50"></div>-->
							<!--</div>-->
							<!--<form action="/action_page.php">-->
								<!--<div class="login-inner-container">-->
								  <!--<label>Email</label>-->
								  <!--<input type="text" placeholder="Enter Email" name="email" required>-->
								  <!--<div class="space-20"></div>-->

								  <!--<label>Password</label>-->
								  <!--<input type="password" placeholder="Enter Password" name="psw" required>-->
								  <!--<div class="space-20"></div>-->
								<!--</div>-->

								<!--<div class="login-form-footer">-->
								  <!--<button type="submit" class="login-btn">Login</button>-->
								  <!--<div class="space-15"></div>-->
								  <!--<span class="psw">Forgot <a href="#">password?</a></span>-->
								<!--</div>-->
							<!--</form>-->
						<!--</div>-->
			<!--</div>-->

		<!-- Scripts -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/js/main.js"></script>

	</body>
</html>
